                                    {% for data in itemData %}
									<table>
										
										
										
									
									</table>
                                    {% endfor %}
                                    


                                    <tr id="productName" >
                                        {% for row in data %}
                                        <td>
                                            
                                                    
                                                
                                        </td>
                                        {% endfor %}
                                    </tr>



                                    <div class="col-lg-6 course_col">
                                                        <div class="course">
                                                            <!-- <div class="course_image"><img src="images/course_4.jpg" alt=""></div> -->
                                                            <div class="course_body">
                                                                    <a>
                                                                        <h3 class="course_title">
                                                                            {{row[1]}}
                                                                        </h3>
                                                                    </a>
                                                            </div>
                                                            <div class="course_footer">
                                                                <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>